<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h1><%= t('.resend_unlock_instructions', default: 'Resend unlock instructions') %></h1>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <div class="panel panel-default devise-bs">
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, html: { role: "form" } }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <%= f.submit t('.resend_unlock_instructions', default: 'Resend unlock instructions'), class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>

  <%= render 'devise/shared/links' %>
</div>
