<div>
  <%= polaris_card(
    title: t("metrics.tiles.#{tile.handle}", default: tile.handle.to_s.humanize),
    actions: [{
      content: polaris_icon(name: "ViewMinor", color: :subdued),
      title: "View chart",
      url: url_for(action: action_name, **filter.to_param.merge(chart: tile.handle)),
      data: {
        turbo_frame: "metrics",
        turbo_action: "advance",
      },
    }]
  ) do %>
      <%= polaris_stack(alignment: :center) do |stack| %>

        <% stack.with_item(fill: true) do %>
          <%= polaris_text(variant: :heading2xl, as: :h2) do %>
            <%= metric_display_value(tile.display, tile.current_value)%>
          <% end %>
        <% end %>

        <% stack.with_item do %>
          <%= polaris_text(
            variant: :headingMd,
            as: :h3,
            color: metric_change_color(tile.change, tile.positive_change_is_good)
          ) do %>
            <%= number_to_percentage_with_precision(tile.change) %>
          <% end %>
          <%= polaris_text(variant: :bodySm, alignment: :end, color: :subdued) do %>
            <%= pluralize(filter.period, 'day') %> ago
          <% end %>
        <% end %>

    <% end %>
  <% end %>
</div>
