<%= polaris_card(title: tile.handle.to_s.humanize) do |card| %>

  <%= polaris_vertical_stack(gap: "5") do %>

    <%= polaris_stack(alignment: :center) do |stack| %>

      <% stack.with_item(fill: true) do %>
        <%= polaris_text(variant: :heading4xl, as: :h2) do %>
          <%= metric_display_value(tile.display, tile.current_value)%>
        <% end %>
      <% end %>

      <% stack.with_item do %>
          <%= polaris_text(variant: :headingLg, as: :h3, color: metric_change_color(tile.change, tile.positive_change_is_good)) do %>
            <%= number_to_percentage_with_precision(tile.change) %>
          <% end %>
          <%= polaris_text(variant: :bodyMd, alignment: :end, color: :subdued) do %><%= pluralize(filter.period, 'day') %> ago<% end %>
      <% end %>

    <% end %>

    <div id="chart-1" style="height: 300px; width: 100%;" data-chartkick-target="chart">
     <canvas style="box-sizing: border-box;" width="300"></canvas>
   </div>
    <%= tag.script  type: "application/json", data: { chartkick_target: "data"} do %><%= tile.chart_data.to_json.html_safe %><% end %>
    <%= tag.script  type: "application/json", data: { chartkick_target: "options"} do %><%= metrics_chart_options.to_json.html_safe %><% end %>

    <%= polaris_divider %>

    <%= polaris_stack(distribution: :fill_evenly) do |stack| %>

      <% if show_averages(filter.period, tile) %>
        <% stack.with_item do %>
            <%= polaris_text(variant: :bodyMd, as: :h4, color: :subdued) do %>
              Daily Avg
            <% end %>
            <%= polaris_text(variant: :headingMd) do %>
              <%= metric_display_value(tile.display, tile.average_value)%>
            <% end %>
        <% end %>
      <% end %>

      <% Metric::PERIODS_AGO.each do |period_ago| %>
        <% stack.with_item do %>

          <%= polaris_text(variant: :bodyMd, as: :h4, color: :subdued) do %>
            <%= period_ago_in_words(filter.date, filter.period, period_ago) %>
          <% end %>

          <%= polaris_text(variant: :headingLg) do %>
            <%= metric_display_value(tile.display, tile.period_ago_value(period_ago))%>
          <% end %>

          <%= polaris_text(variant: :headingSm, color: metric_change_color(tile.period_ago_change(period_ago), tile.positive_change_is_good)) do %>
            <%= number_to_percentage_with_precision(tile.period_ago_change(period_ago)) %>
          <% end %>

        <% end %>
      <% end %>

    <% end %>

  <% end %>

<% end %>
