<div id="heading_row" class="row">
    <%= render "heading_row", title: "Overview" %>
  </div>

  <% if !@metrics.blank? %>

  <div class="row" id="chart_tile">
    <%= render "chart_tile" %>
  </div>

  <div class="row" id="metric_tiles">
    <%= render "metric_tiles" %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= pie_chart current_user.yearly_revenue_per_product(date: @date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Product (Last 12 Months)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= pie_chart current_user.yearly_revenue_per_country(date: @date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Country (Last 12 Months)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= column_chart current_user.yearly_revenue_per_charge_type(date: @date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Charge Type (Last 12 Months)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= column_chart current_user.total_revenue_per_charge_type(from_date: @first_metric_date, date: @date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Charge Type (TOTAL)</h5>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-12 text-center">
              <h2><i class="fa fa-line-chart" style="font-size: 100px" aria-hidden="true"></i></h2>
              <h2>Welcome!</h2>
              <p>Click the <b>Account connection</b> button above to get started.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: 'import_modal' %>
