<div id="heading_row" class="row">
  <%= render "heading_row", title: "Prospectus" %>
</div>

<% if @app_title.blank? %>
<div class="row" style="min-height: 400px;">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-12 text-center">
            <p><b>Select an app</b></p>
            <p>Please select an app in the dropdown to get started</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif !@payments_count.blank? %>

<div class="row">
  <div class="col-sm-12">
    <h3>Financial History (last 36 months)</h3>
    <p class="help-block">Sort data by clicking on a column header</p>
    <div class="panel panel-default animated fadeIn">
      <div class="panel-body">
        <table class="table financials-table tablesorter">
          <thead>
            <tr>
              <th data-sortinitialorder="desc" data-sorter="shortDate" data-date-format="mmm yyyy">Date</th>
              <th>Payments</th>
              <th>Revenue (Partner's 80%)</th>
              <th>Avg revenue per payment</th>
              <th>Avg user churn</th>
              <th>Avg revenue churn</th>
            </tr>
          </thead>
          <tbody>
            <% @payments_count.each do |date, users| %>
              <tr>
                <td>
                  <%= date.strftime('%b %Y') %>
                </td>
                <td>
                  <%= users %>
                </td>
                <td>
                  <%= number_to_currency(@payments_revenue[date], precision: 0) %>
                </td>
                <td>
                  <%= number_to_currency((@payments_revenue[date] / users), precision: 0) rescue 0 %>
                </td>
                <td>
                  <%= number_to_percentage(@metrics_user_churn[date], precision: 1) %>
                </td>
                <td>
                  <%= number_to_percentage(@metrics_revenue_churn[date], precision: 1) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Customer insights</h3>
    <p class="help-block">Sort data by clicking on a column header</p>
    <div class="panel panel-default animated fadeIn">
      <div class="panel-body">
        <table class="table customers-table tablesorter">
          <thead>
            <tr>
              <th>Shop</th>
              <th>Payments made</th>
              <th>Total revenue</th>
              <th>Avg revenue per payment</th>
              <th data-sortinitialorder="desc" data-sorter="shortDate" data-date-format="mmm d, yyyy">Last payment date</th>
            </tr>
          </thead>
          <tbody>
            <% @payments_users.sort_by { |k, v| v }.reverse.each do |shop, count| %>
              <tr>
                <td>
                  <%= Digest::MD5.hexdigest(shop) %>
                </td>
                <td>
                  <%= count %>
                </td>
                <td>
                  <%= number_to_currency(@payments_user_revenue[shop], precision: 0) %>
                </td>
                <td>
                  <%= number_to_currency((@payments_user_revenue[shop] / count), precision: 0) %>
                </td>
                <td>
                  <%= @payments_user_last_payment[shop].strftime('%b %d, %Y') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".financials-table").tablesorter({
      theme : "bootstrap",
      widthFixed: true,
      sortList : [[ 0, 1 ]]
    });
  });

  $(function() {
    $(".customers-table").tablesorter({
      theme : "bootstrap",
      widthFixed: true,
      sortList : [[ 4, 1 ]]
    });
  });
</script>

<% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default animated shake">
        <div class="panel-body">
          <div class="col-sm-12 text-center">
            <h2>Hmmm...</h2>
              <p>Looks like you have no revenue (yet!) :(</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'import_modal' %>
