<%= polaris_page(
  title: "Affiliate revenue",
  subtitle: ""
) do |page| %>

  <% if @metrics.any? %>

  <div class="row" id="selected_chart">
    <%= render "selected_chart" %>
  </div>

  <div class="row" id="metric_tiles">
    <%= render "metric_tiles" %>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default animated fadeIn">
        <div class="panel-body">
          <%= column_chart current_user.yearly_revenue_per_product(charge_type: "affiliate_revenue", date: @selected_or_latest_date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Affiliate Revenue (Last 12 Months)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default animated fadeIn">
        <div class="panel-body">
          <%= pie_chart current_user.yearly_revenue_per_product(charge_type: "affiliate_revenue", date: @selected_or_latest_date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Affiliate Split (Last 12 Months)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default animated fadeIn">
        <div class="panel-body">
          <%= pie_chart current_user.yearly_revenue_per_country(charge_type: "affiliate_revenue", date: @selected_or_latest_date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Country (Last 12 Months)</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default animated fadeIn">
        <div class="panel-body">
          <%= column_chart current_user.total_revenue_per_charge_type(charge_type: "affiliate_revenue", date: @selected_or_latest_date) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Affiliate Revenue (TOTAL)</h5>
        </div>
      </div>
    </div>
  </div>

  <% else %>

    <%= render "metrics/empty_state", heading: "Affiliate revenue", icon_name: "AnalyticsMajor" %>

  <% end %>

<% end %>
