<% if user_signed_in? %>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Account connection</h4>
        </div>
        <div class="modal-body">

          <%#= form_tag(import_path, id: "import_form", class: "directUpload", remote: true, authenticity_token: true, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }) do %>

            <div class="row">
              <div class="col-xs-12">
                <p>At the end of each day, we'll automatically import data and calculate metrics using the new Partner API.</p>
                <% if !current_user.has_partner_api_credentials? %>
                  <p><b>IMPORTANT</b> To connect your account, go to your Shopify Partners Dashboard, <a href="https://shopify.dev/docs/partner-api/getting-started#create-an-api-client" target="_blank">create an API client</a>, with <b>View financials</b> and <b>Manage apps</b> permissions. Also add "Manage themes" and "Manage Jobs" permission, if you have any revenue from those. Then enter the details here:</p>
                <% end %>

                <div class="form-group">
                  <label for="partner_api_organization_id">Shopify Partner Organization ID</label>
                  <%= text_field_tag 'partner_api_organization_id', current_user.partner_api_organization_id, class: "form-control", placeholder: "", required: true %>
                  <p class="help-block">Your Organization ID can be seen in the address bar when logged into the Shopify Partner Dashboard.</p>
                </div>
                <div class="form-group">
                  <label for="partner_api_access_token">Shopify Partner API access token</label>
                  <%= password_field_tag 'partner_api_access_token', current_user.partner_api_access_token, class: "form-control", placeholder: "", required: true %>
                </div>

                <label>Usage charge revenue (if you have them), should be counted as: </label>
                <div class="radio">
                  <label><%= radio_button_tag('count_usage_charges_as_recurring', "0", current_user.count_usage_charges_as_recurring == false) %>One-time revenue</label>
                </div>
                <div class="radio">
                  <label><%= radio_button_tag('count_usage_charges_as_recurring', "1", current_user.count_usage_charges_as_recurring == true ) %>Recurring revenue</label>
                </div>
                <% if current_user.metrics.any? %><p><a role="button" data-toggle="collapse" href="#collapseCSV" aria-expanded="false" aria-controls="collapseExample">Import via CSV <span class="caret"></span></a></p><% end %>
                <div id="collapseCSV" class="<%= "collapse" if current_user.metrics.any? %>">
                  <div class="alert alert-info">
                    <% if current_user.metrics.none? || !current_user.has_partner_api_credentials? %>
                      <h3>First import requires CSV</h3>
                      <p>To import all your historical data, the Payouts CSV file is required as it is much much faster. In your Shopify Partners Dashboard, go to the <b>Payouts</b> page, and click the <b>Export CSV</b> button. Then drop the received ZIP file here:</p>
                    <% else %>
                      <h3>Import via CSV</h3>
                      <p>To import historical data, the Payouts CSV file is recommended as it is much much faster. In your Shopify Partners Dashboard, click the <b>Export CSV</b> button on the <b>Payouts</b> page. Then drop the received ZIP file here:</p>
                    <% end %>
                    <div class="dropzone text-center">
                      <span class="btn btn-default btn-file">
                        Select ZIP or CSV file<%= file_field_tag :file %>
                      </span>
                    </div>
                    <%= hidden_field_tag 'filename', "", required: current_user.metrics.none? %>
                    <div style="margin: 10px 0;">
                      <div id="progressPlaceholder"></div>
                    </div>
                  </div>
                </div>
                <%= submit_tag (current_user.metrics.none? ? "Connect and import" : "Update"), class: "btn btn-primary", disabled: current_user.metrics.none? %>
              </div>
            </div>

          <%# end %>

        </div>
        <div class="modal-footer">
          <a href="<%= reset_metrics_path %>" onclick="return confirm('Resetting metrics will delete all previously calculated metrics. Once reset, you will need to import data again. Are you sure?');" class="form-control-static pull-left btn btn-danger btn-outline">Reset metrics</a>
          <a href="https://github.com/forsbergplustwo/partner-metrics-for-shopify/blob/master/app/models/payment_history.rb#L32" target="_blank" class="form-control-static pull-left btn btn-default btn-outline">How are metrics calculated?</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
