<%# add navigation links to this file %>
<li><%= nav_link 'Overview', metrics_path %></li>
<li><%= nav_link 'Recurring', metrics_recurring_index_path %></li>
<li><%= nav_link 'One-Time', metrics_onetime_index_path %></li>
<li><%= nav_link 'Affiliate', metrics_affiliate_index_path %></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      More&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-item"><%= nav_link 'Monthly summary', metrics_summary_index_path %></li>
    <li class="dropdown-item"><%= nav_link 'App Store Analytics', app_store_analytics_path %></li>
  </ul>
</li>
