<%# add navigation links to this file %>
<li><%= nav_link 'Overview', overview_path %></li>
<li><%= nav_link 'Recurring', recurring_path %></li>
<li><%= nav_link 'One-Time', onetime_path %></li>
<li><%= nav_link 'Affiliate', affiliate_path %></li>
<li><%= nav_link 'Prospectus', prospectus_path %></li>
<li><%= nav_link 'More...', more_path %></li>