<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png', style: "margin-top: -2px; max-width: 190px;" %></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <%= render 'layouts/navigation_links' %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
              <p class="navbar-btn">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
                  Account connection
                </button>
              </p>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;User&nbsp;
                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <div class="navbar-login">
                          <div class="row">
                              <div class="col-lg-4">
                                  <p class="text-center">
                                      <%= image_tag avatar_url(current_user, 87) %>
                                  </p>
                              </div>
                              <div class="col-lg-8">
                                  <p class="text-left" style="padding-top: 15px;"><%= truncate(current_user.email, length: 24) %></p>
                                  <p class="text-left">
                                      <%= link_to "Edit profile", edit_user_registration_path %>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <div class="navbar-login navbar-login-session">
                          <div class="row">
                              <div class="col-lg-12">
                                  <p>
                                    <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-default btn-block") %>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
<!--           <li>
              <p class="navbar-btn">
                <%= link_to "Get started", new_user_registration_path, class: "btn btn-sm btn-primary" %>
              </p>
          </li> -->
          <li>
            <!-- Button trigger modal -->
            <%= link_to "Log in", new_user_session_path, class: "" %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
