<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-preview">

    <title><%= content_for?(:title) ? yield(:title) : "Partner Metrics" %></title>

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "polaris_view_components", "application" %>

    <%= javascript_include_tag "application" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body style="<%= polaris_html_styles %>">
    <%= polaris_frame(
      logo: {
        url: "/",
        src: image_path("logo.png"),
        width: "168px"
      }
    ) do |frame| %>
      <%= render "layouts/frame/top_bar", frame: frame %>
      <%= render "layouts/frame/navigation", frame: frame %>

      <%= render "layouts/flash_messages" %>

      <%= yield %>

      <%= polaris_footer_help do %>

        <%= polaris_spacer(vertical: :base) %>

        <%= polaris_text(alignment: :center) do %>
          Made with ❤ by <%= polaris_link(url: "https://www.forsbergplustwo.com", external: true) { "FORSBERG+two" } %>.<br>Available on Github as <%= polaris_link(url: "https://github.com/forsbergplustwo/partner-metrics", external: true) { "open-source" } %>. For questions, please <%= polaris_link(url: "https://github.com/forsbergplustwo/partner-metrics/issues/new?labels=question&body=%0A%0A%0A---%0AI%27m+a+human.+Please+be+nice.", external: true) { "create an issue" } %> on the repo.
        <% end %>
      <% end %>

      <%= turbo_frame_tag :remote_modal %>

    <% end %>
  </body>
</html>
